/*body {
	margin: 0;
}

#Weekend {
	display: none;
}

.mdl-mega-footer {
	display: none;
}

.startup_logo {
	display: flex;
	align-items: center;
	padding: 1em;
	background-color: #f8f8f8;
	font-family: Calibri,Helvetica,Arial,sans-serif;
	font-weight: 700;
}

#startup_logo_image {
	
}

#startup_logo_text {
	margin-left: 0.3em;
	color: #5e5e5e;
}

.Conference_Info{
	margin: auto;
	max-width: 1024px;
	}*/

	body{
		background-color: #005A78;
	}


	.tab-content{
		display: flex;
		align-items: center;
		flex-direction: column;
		font-family: "Helvetica","Arial",sans-serif;
		color: #C4C4C4;
		margin: auto;
	}

	.tab-content > h1{
		text-align: center;
	}

	.tab-content *{
		margin: auto;
		text-shadow: #000 1px 1px 2px;
		width: 70%;
	}

	.gallery-image{
		height: 100%;
	}

	.startup-content > *{
		display: flex;
	}

	#startup-logo-text{
		margin-left: 0.3em;
		font-family: "Helvetica","Arial",sans-serif;
		font-weight: 700;
		color: #5e5e5e;
	}

	#startup-logo-text-mobile{
		display: none;
	}

	#startup-logo-image{
		max-height: 45px;
	}

	.swiper-container {
        width: 100%;
        height: 300px;
        margin: 20px auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        width: 60%;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-slide:nth-child(2n) {
        width: 40%;
    }
    .swiper-slide:nth-child(3n) {
        width: 20%;
    }