/*body {
	margin: 0;
}

#Weekend {
	display: none;
}

.mdl-mega-footer {
	display: none;
}

.startup_logo {
	display: flex;
	align-items: center;
	padding: 1em;
	background-color: #f8f8f8;
	font-family: Calibri,Helvetica,Arial,sans-serif;
	font-weight: 700;
}

#startup_logo_image {
	
}

#startup_logo_text {
	margin-left: 0.3em;
	color: #5e5e5e;
}

.Conference_Info{
	margin: auto;
	max-width: 1024px;
	}*/

	body{
		background-color: #005A78;
	}


	.tab-content{
		display: flex;
		align-items: center;
		flex-direction: column;
		font-family: "Helvetica","Arial",sans-serif;
		color: #C4C4C4;
		margin: auto;
	}

	.tab-content > *{
		margin: auto;
		text-shadow: #000 1px 1px 2px;
	    width: 90%;
        text-align: center;
    }
    
    .tab-content-header{
		text-align: center;
        margin-top: 0.5em;
	}
    
    .tab-content-main-text{
        margin-top: 0.5em;
    }
    
    
	/*.gallery-image{
		height: 100%;
	}*/

	/*.startup-content > *{
		display: flex;
        text-align: center;
	}*/

	#startup-logo-text{
		margin-left: 0.3em;
		font-family: "Helvetica","Arial",sans-serif;
		font-weight: 700;
		color: #5e5e5e;
	}

	#startup-logo-text-mobile{
		display: none;
	}

	#startup-logo-image{
		max-height: 45px;
	}
    
    
    ._swiper-image {
        margin: 0px;
        max-height: 100%;
        max-width: 100%;
    }
    
    .swiper-container {
        width: 100%;
        height: 500px;
        margin-top: 1em;
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        /*background: #fff;*/
        width: 60%;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
	    
    /*.swiper-slide:nth-child(2n) {
        width: 40%;
    }
    .swiper-slide:nth-child(3n) {
        width: 20%;
    }*/
    
    /*#about-us {
        text-align: center;
    }*/
    
    #about-us div.team-img {
        margin-bottom: 10px;
        margin-top: 20px;
        /*border: 1px solid #ccc;*/
        width: 280px;
        border: 5px solid #005A78;
    }

    #about-us div.team-img:hover {
        border: 5px solid #2A5AA8;
    }

    #about-us div.team-img img {
        width: 100%;
        height: auto;
    }

    #about-us div.desc {
        padding: 5px;
        text-align: center;
    }
    
    #about-us div.desc2 {
        text-align: center;
    }
    
    #team-gallery .team-img{
        display: inline-block;
    }
    
    #team-gallery .contact{
        margin-top: 15px;
    }
    
    
    
    
    #sponsors div.sponsor-img {
        margin-bottom: 10px;
        margin-top: 20px;
        /*border: 1px solid #ccc;*/
        width: 280px;
        border: 5px solid #005A78;
    }

    #sponsors div.sponsor-img:hover {
        border: 5px solid #2A5AA8;
    }

    #sponsors div.sponsor-img img {
        width: 100%;
        height: auto;
    }

    #sponsors div.desc {
        padding: 5px;
        text-align: center;
    }
    
    #sponsors div.desc2 {
        text-align: center;
    }
    
    #sponsors-gallery .sponsor-img{
        display: inline-block;
    }
    
    #sponsors-gallery .contact{
        margin-top: 15px;
    }
    
    
    
    /*#sponsors-gallery {
        margin-top: 15px;
    }
    
    #sponsors-gallery img {
        height: auto;
        width: 300px;
    }*/
    
    /*.team-last-row {
        margin: 0;
        margin-right: 5px;
    }*/
    
    /* for proper team gallery */
    
    
    
    /* for mobile */
    
    @media (max-width: 600px){
        #startup-logo-text {
            font-size: 15px;
        }
    }
    
    
    /* Snipets */
    
    /*.swiper-container {
        width: 100%;
        height: 500px;
    }
    
    .swiper-slide {
        width: 60%;
        /* Center slide text vertically */
        /*display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        width: 60%;
    }*/